body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;

}

.navbar-conteudo{
    width: 935px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-icones{
    display: flex;
    gap: 6px;
    align-items: center;
}

.navbar-pesquisar{
    text-align: center;
 
}

.container{
    width: 100%;
    height: calc(100vh - 54px);
    margin-top: 54px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.container-conteudo{
    width: 935px;
    background-color: white;
    height: 100vh;
    display: flex;
    gap: calc(935px - 614px - 293px);

}

.container-conteudo-timeline{
    width: 614px;
    height: 749px;
}

.timeline-topo{
    width: 100%;
    height: 118px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    overflow-x: hidden;

}

.timeline-topo img{
    height: 56px;
    width: 56px;
    border: 3px solid rgb(255, 60, 93);
    border-radius: 50%;
    margin-left: 6px;
}

.item-storie{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.lista-de-post{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.post{
    width: 614px;
    height: 749px;
    border: 1px solid #dbdbdb;
    display:flex;
    flex-direction: column;
    align-items: stretch;

}

.post-topo{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.post-topo-esquerda{
    display: flex;
    align-items: center;
    gap: 8px;


}
.post-topo-esquerda img{
        height: 32px;
        width: 32px;
        border: 3px solid rgb(255, 60, 93);
        border-radius: 50%;
        margin-left: 6px;
    }

.post-img{
    width: 612px;
    height: 612px;
}

.post-acoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.post-acoes-icones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-left: 6px;
}

.post-curtido{
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-curtido img{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    
}

.post-curtido-texto{
    font-size: 14px;
    
}


.container-conteudo-sidebar{
    width: 293px;
    background-color: rgb(37, 32, 22);
    height: 500px;
}

.separador-horizontal{
    background-color: blue;
    height: 1px;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;

}


.caixa-stories{
    background-color: green;
    width: 614px;
    height: 600px;

}

.coluna-de-posts{
    background-color: orange;
    width: 614px;
    height: 600px;
}

.separador-vertical{
    background-color: blue;
    height: 600px;
    width: 21px;
}

.separador-logo{
    background-color: blue;
    height: 50px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar{
    background-color: red;
    width: 293px;
    height: 600px;

    
    

}

ion-icon {
	font-size: 20px;
}

.topo-esquerdo{
    display: flex;
    
}

.topo-esquerdo img {
    width: 103px;
    height: 29px;
}