body{
    font-family: 'Roboto', sans-serif;
}


/*---------------------------------Barra Topo---------------------------------*/
.navbar{
    width: 100%;
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;

}

.navbar-conteudo{
    width: 935px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-conteudo-esquerda{
    display: flex;
    justify-content: center;
    text-align: center;
}

.separador-logo{
    background-color: #dbdbdb;
    height: 29px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.icone-instagram{
    font-size: 22px;
    
}

.cor-do-link{
    color: #000000;
}

.logo-instagram{
    width: 103px;
    height: 29px;

}

.normal-sumir{
    display: none;
}

.navbar-icones{
    display: flex;
    gap: 22px;
    align-items: center;
}

.icones-navbar-direita{
    font-size: 22x;
}

.navbar-pesquisar{
    text-align: center;
}



/* ------------------------------- Conteudo de postagens -------------------------*/ 

.container{
    width: 100%;
    height: calc(100vh - 54px);
    margin-top: 54px;
    display: flex;
    justify-content: center;
}

.container-conteudo{
    width: 935px;
    height: 100vh;
    display: flex;
    gap: calc(935px - 614px - 293px);

}

.container-conteudo-timeline{
    width: 614px;
    height: 749px;
}

.caixa-de-stories{
    width: 614px;
    height: 118px;
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    overflow-x: hidden;
    margin-top: calc(88px - 54px);
    margin-bottom: 24px;
    
}

.caixa-de-stories img{
    height: 62px;
    width: 62px;
    border: 2px solid rgb(255, 60, 93);
    border-radius: 50%;
    margin-left: 6px;
}

.item-storie{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.lista-de-post{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.post{
    width: 614px;
    height: 749px;
    border: 1px solid #dbdbdb;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 60px;

}

.post-topo{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.post-topo-esquerda{
    display: flex;
    align-items: center;
    gap: 8px;


}
.post-topo-esquerda img{
        height: 32px;
        width: 32px;
        border: 3px solid rgb(255, 60, 93);
        border-radius: 50%;
        margin-left: 6px;
    }

.post-img{
    width: 612px;
    height: 612px;
}

.post-acoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.post-acoes-icones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-left: 6px;
}

.post-curtido{
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-curtido img{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    
}

.post-curtido-texto{
    font-size: 14px;
    
}


/*----------------------------------Sidebar-----------------------------------------*/

.container-conteudo-sidebar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: calc(88px - 54px);
}

.sidebar-topo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-topo img{
        height: 62px;
        width: 62px;
        border: 2px solid rgb(255, 60, 93);
        border-radius: 50%;
}

.sidebar-topo-conteudo{
    
}

.separador-horizontal{
    background-color: lightblue;
    height: 9px;
    width: 293px;
}

.sidebar-sugestoes-ver-tudo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sidebar-topo img{
    width: 54px;
    height: 54px;
    margin-left: 15px;
}


.container-conteudo-sidebar{
    width: 293px;
    height: 500px;
}


.lista-sugestao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-sugestoes-item-esquerda{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.lista-sugestoes-item-esquerda-denovo{
    display: flex;
    align-items: center;
    gap: 8px;

}

.lista-sugestoes-item-esquerda img{
    width: 54px;
    height: 54px;
    margin-left: 15px;

}




ion-icon {
	font-size: 20px;
}

/*--------------------VERSAO DESKTOP SEM SIDEBAR ------------------------------------------*/


@media (max-width: 935px){

    .container-conteudo-sidebar{
        display: none;
    }
    .container-conteudo{
        width: 100%;
        background-color: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        gap: calc(935px - 614px - 293px);
    }
}

/*--------------------VERSAO MOBILE ------------------------------------------*/

@media (max-width: 614px){
    .mobile-sumir{
        display: none;
    }

    .normal-sumir{
        display: flex;
    }


/*------------barra fixa chao ---------------*/
.navbar-mobile{
    width: 100%;
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;

}

.navbar-conteudo-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icone-mobile{
    font-size: 22px;
    
}

.pai{
    display: flex;
    justify-content: space-evenly;
}

}